# HOW MUCH ENERGY WILL A BUILDING CONSUME?

### BUSINESS QUESTIONS?

##### 1. Which meter types contribute the most to energy consumption? Which saves the most energy?
##### 2. What are the factors that contribute to energy consumption? 
##### 3. Which time of the day or month of the year is energy consumed the most or saved the most?

In [74]:
#import the neccesary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)

In [75]:
#load in the data
weather=pd.read_csv('weather_train.csv')
data=pd.read_csv('train.csv')
building=pd.read_csv('building_metadata.csv')

##  Data Cleaning

In [76]:
weather.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6

In [78]:
building.head()

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

In [79]:
print(data.shape)
print(building.shape)
print(weather.shape)

(20216100, 4)
(1449, 6)
(139773, 9)

## Missing data

In [80]:
#check for missing data in the data dataset
data.isnull().sum()

building_id      0
meter            0
timestamp        0
meter_reading    0
dtype: int64

In [81]:
#check for missing data in the building dataset
building.isnull().sum()

site_id           0
building_id       0
primary_use       0
square_feet       0
year_built      774
floor_count    1094
dtype: int64

In [82]:
#Number of unique values in each column
building.nunique()

site_id          16
building_id    1449
primary_use      16
square_feet    1397
year_built      116
floor_count      18
dtype: int64

In [83]:
building['year_built'].value_counts()

1976.0    55
1966.0    23
1968.0    18
1919.0    17
1964.0    15
2004.0    14
1960.0    13
1975.0    13
2007.0    13
2006.0    13
2014.0    12
2010.0    12
1970.0    12
2001.0    12
2002.0    11
1930.0    10
1967.0    10
2005.0    10
1959.0    10
1989.0     9
2013.0     9
1956.0     8
1999.0     8
1923.0     8
1969.0     7
1990.0     7
2016.0     7
2011.0     7
1963.0     7
1958.0     7
1981.0     6
1913.0     6
1996.0     6
1953.0     6
1974.0     6
1912.0     6
1932.0     6
1965.0     6
1931.0     6
1962.0     5
2003.0     5
1948.0     5
1940.0     5
1986.0     5
2000.0     5
1909.0     5
2008.0     5
1942.0     5
1957.0     5
1910.0     5
1978.0     5
1971.0     5
1995.0     5
1955.0     5
1941.0     5
1900.0     5
1961.0     5
1951.0     5
1950.0     4
1914.0     4
1929.0     4
1935.0     4
1945.0     4
1985.0     4
1982.0     4
1933.0     4
1980.0     4
1993.0     4
2009.0     4
1997.0     4
1979.0     4
1949.0     4
1911.0     4
2012.0     4
1991.0     4
1983.0     4
1977.0     3
1973.0     3
1908.0     3
1939.0     3
1928.0     3
1917.0     3
1903.0     3
1924.0     3
1927.0     3
1994.0     3
1907.0     3
2015.0     3
1904.0     2
1998.0     2
1988.0     2
1921.0     2
1954.0     2
1992.0     2
1984.0     2
1915.0     2
1920.0     2
1925.0     2
1987.0     2
1952.0     2
1906.0     2
1937.0     1
1902.0     1
1905.0     1
1972.0     1
1916.0     1
1922.0     1
1938.0     1
1918.0     1
1946.0     1
1944.0     1
1934.0     1
1936.0     1
1926.0     1
2017.0     1
1947.0     1
Name: year_built, dtype: int64

In [84]:
building.describe()

           site_id  building_id    square_feet   year_built  floor_count
count  1449.000000  1449.000000    1449.000000   675.000000   355.000000
mean      6.952381   724.000000   92111.776398  1967.957037     3.740845
std       5.003432   418.434583  110769.950997    31.054030     3.333683
min       0.000000     0.000000     283.000000  1900.000000     1.000000
25%       3.000000   362.000000   23012.000000  1949.000000     1.000000
50%       5.000000   724.000000   57673.000000  1970.000000     3.000000
75%      13.000000  1086.000000  115676.000000  1995.000000     5.000000
max      15.000000  1448.000000  875000.000000  2017.000000    26.000000

#### The way the null values of the year_built column is, i have to separate it into bins

In [85]:
#due to the unneven and complex nature of the missing values in the year column, interpolation is the best solution
building['year_built']=building['year_built'].interpolate()

In [87]:
building['year_built'].value_counts()

1976.000000    57
1966.000000    25
1968.000000    19
1919.000000    17
1964.000000    16
2004.000000    14
1960.000000    14
1975.000000    14
2006.000000    13
1970.000000    13
2014.000000    13
2007.000000    13
2010.000000    12
1930.000000    12
2001.000000    12
2002.000000    11
2005.000000    11
1959.000000    11
2013.000000    11
1989.000000    10
1967.000000    10
1990.000000     9
1999.000000     8
1923.000000     8
1981.000000     8
1978.000000     8
1931.000000     8
1942.000000     8
1956.000000     8
1958.000000     8
1963.000000     8
1969.000000     8
1986.000000     7
2011.000000     7
1955.000000     7
1953.000000     7
1980.000000     7
2016.000000     7
1974.000000     7
1940.000000     6
1993.000000     6
2000.000000     6
1913.000000     6
1951.000000     6
1932.000000     6
1995.000000     6
1961.000000     6
2008.000000     6
1971.000000     6
1996.000000     6
1912.000000     6
1985.000000     6
2003.000000     6
1965.000000     6
1939.000000     5
1957.000000     5
1991.000000     5
1900.000000     5
1950.000000     5
1994.000000     5
1909.000000     5
1949.000000     5
1948.000000     5
1910.000000     5
1982.000000     5
1962.000000     5
1927.000000     5
1941.000000     5
1979.000000     4
1911.000000     4
2009.000000     4
1914.000000     4
1983.000000     4
1977.000000     4
1929.000000     4
1997.000000     4
1933.000000     4
2012.000000     4
1973.000000     4
1945.000000     4
1935.000000     4
1984.000000     3
1954.000000     3
1917.000000     3
1952.000000     3
1947.000000     3
1946.000000     3
1928.000000     3
1987.000000     3
1925.000000     3
1924.000000     3
1903.000000     3
2000.500000     3
1907.000000     3
2015.000000     3
1992.000000     3
1908.000000     3
1915.000000     3
1947.500000     2
1969.500000     2
1922.000000     2
1953.500000     2
1906.000000     2
2011.500000     2
1998.000000     2
1924.500000     2
1938.000000     2
1921.000000     2
1978.750000     2
1972.500000     2
1928.250000     2
1988.000000     2
1991.500000     2
1904.000000     2
1936.000000     2
1943.000000     2
1933.500000     2
1982.666667     2
1957.500000     2
1920.000000     2
1920.672414     1
1920.511111     1
1946.873563     1
1981.500000     1
1942.911877     1
1941.561303     1
1945.522989     1
1915.360153     1
1919.862069     1
1922.653257     1
1961.819923     1
1973.600000     1
1960.199234     1
1948.944444     1
1953.250000     1
1957.137931     1
1968.800000     1
1926.344828     1
1942.500000     1
1943.272031     1
1938.950192     1
1947.503831     1
1926.164751     1
1919.952107     1
1920.600000     1
1942.191571     1
1925.444444     1
1930.486590     1
1928.325670     1
1938.229885     1
1921.044444     1
1918.781609     1
1922.473180     1
1947.593870     1
1940.931034     1
1965.666667     1
1961.333333     1
1939.850575     1
1934.000000     1
1944.000000     1
1927.155172     1
1962.500000     1
1922.288889     1
1962.333333     1
1922.200000     1
1943.542146     1
1956.417625     1
1937.869732     1
1945.342912     1
1949.304598     1
1938.860153     1
1955.600000     1
1941.381226     1
1948.314176     1
1939.400383     1
1934.268199     1
1949.214559     1
1939.580460     1
1928.595785     1
1919.266667     1
1994.500000     1
1945.252874     1
1919.321839     1
1947.233716     1
1929.200000     1
1957.858238     1
1921.302682     1
1920.244444     1
1956.507663     1
1918.421456     1
1927.965517     1
1946.513410     1
1956.500000     1
1959.839080     1
1919.622222     1
1987.200000     1
1934.988506     1
1936.969349     1
1999.750000     1
1933.187739     1
1961.099617     1
1969.400000     1
1951.465517     1
1943.992337     1
1937.059387     1
1928.500000     1
1942.641762     1
1940.660920     1
1953.536398     1
1930.250000     1
1941.111111     1
1960.919540     1
1925.714559     1
1918.241379     1
1921.844444     1
1916.000000     1
1923.733716     1
1952.095785     1
1932.557471     1
1949.484674     1
1941.750000     1
1927.245211     1
1954.977011     1
1936.699234     1
1938.680077     1
1946.153257     1
1941.201149     1
1915.810345     1
1957.588123     1
1985.500000     1
1958.938697     1
1953.626437     1
1931.206897     1
1957.400000     1
1944.172414     1
1955.607280     1
1959.568966     1
2017.000000     1
1940.120690     1
1961.459770     1
1917.611111     1
1917.340996     1
1919.888889     1
1919.591954     1
1922.022222     1
1953.176245     1
1950.114943     1
1925.174330     1
1962.400000     1
1959.500000     1
1932.647510     1
1923.643678     1
1937.599617     1
1933.908046     1
1955.877395     1
1940.210728     1
1918.511494     1
1930.576628     1
1915.180077     1
1959.118774     1
1930.306513     1
1915.630268     1
1919.355556     1
1955.247126     1
1923.103448     1
1932.287356     1
1949.934866     1
1957.768199     1
1929.800000     1
1936.519157     1
1934.538314     1
1955.157088     1
1947.954023     1
1951.195402     1
1936.249042     1
1938.500000     1
1967.500000     1
1921.572797     1
1940.840996     1
1919.681992     1
1940.390805     1
1944.082375     1
1924.093870     1
1933.727969     1
1934.718391     1
1929.496169     1
2000.250000     1
1920.852490     1
1960.379310     1
1959.028736     1
1927.875479     1
1934.500000     1
1923.913793     1
1950.745211     1
1931.477011     1
1951.735632     1
1953.986590     1
1935.888889     1
1916.170498     1
1921.933333     1
1918.871648     1
1932.737548     1
1947.323755     1
1946.333333     1
1955.427203     1
1959.659004     1
1917.881226     1
1924.814176     1
1952.906130     1
1920.155556     1
1957.408046     1
1916.890805     1
1918.151341     1
1922.113027     1
1936.159004     1
1955.500000     1
1923.193487     1
1928.375000     1
1921.122605     1
1931.747126     1
1974.200000     1
1933.800000     1
1931.026820     1
1909.500000     1
1953.716475     1
1936.429119     1
1955.697318     1
1924.634100     1
1928.775862     1
1949.034483     1
1958.668582     1
1919.141762     1
1917.160920     1
1926.795019     1
1920.688889     1
1952.005747     1
1951.015326     1
1927.785441     1
1953.333333     1
1959.388889     1
1949.574713     1
1921.212644     1
1961.009579     1
1951.555556     1
1923.553640     1
1946.063218     1
1920.132184     1
1938.409962     1
1954.706897     1
1934.448276     1
1929.946360     1
1952.726054     1
1919.177778     1
1950.024904     1
1933.457854     1
1992.333333     1
1925.894636     1
1917.250958     1
1942.101533     1
1928.125000     1
1933.547893     1
1957.678161     1
1919.711111     1
1956.687739     1
1953.200000     1
1961.639847     1
1960.649425     1
1925.804598     1
1961.729885     1
1949.754789     1
1952.996169     1
1939.940613     1
1920.402299     1
1937.419540     1
1948.764368     1
1916.440613     1
1944.892720     1
1919.411877     1
1917.431034     1
1928.505747     1
1919.051724     1
1927.515326     1
1928.400000     1
1979.600000     1
1945.793103     1
1947.773946     1
1926.524904     1
1928.750000     1
1953.086207     1
1920.762452     1
1918.000000     1
1957.047893     1
1959.478927     1
1955.967433     1
1928.875000     1
1925.624521     1
1991.400000     1
1948.800000     1
1956.237548     1
1970.500000     1
1942.371648     1
1915.450192     1
1928.600000     1
1958.218391     1
1944.352490     1
1920.422222     1
1933.097701     1
1920.222222     1
1924.363985     1
1932.107280     1
1929.045977     1
1928.685824     1
1945.162835     1
1942.821839     1
1947.053640     1
1951.285441     1
1972.000000     1
1921.222222     1
1957.498084     1
1936.609195     1
1922.833333     1
1915.720307     1
1921.133333     1
1928.055556     1
1927.065134     1
1926.074713     1
1930.036398     1
1934.898467     1
1961.369732     1
1958.398467     1
1932.017241     1
1935.798851     1
1950.295019     1
1922.383142     1
1984.500000     1
1915.270115     1
1928.625000     1
1953.266284     1
1915.900383     1
1943.812261     1
1937.689655     1
1924.544061     1
1922.466667     1
1944.802682     1
1922.563218     1
1933.007663     1
1922.911111     1
1952.275862     1
1925.534483     1
1941.831418     1
1952.500000     1
1947.143678     1
1954.256705     1
1958.578544     1
1953.806513     1
1923.373563     1
1924.454023     1
1959.749042     1
1918.061303     1
1915.500000     1
1922.203065     1
1918.961686     1
1917.971264     1
1960.739464     1
1959.298851     1
1954.796935     1
1919.501916     1
1934.333333     1
1930.846743     1
1973.500000     1
1943.632184     1
1921.932950     1
1932.377395     1
1923.463602     1
1916.980843     1
1926.434866     1
1915.990421     1
1922.377778     1
1958.848659     1
1955.517241     1
1940.570881     1
1938.139847     1
1935.258621     1
1916.350575     1
1932.197318     1
1924.724138     1
1954.436782     1
1952.455939     1
1921.400000     1
2004.333333     1
2003.666667     1
1920.777778     1
1922.555556     1
1955.787356     1
1960.289272     1
1935.618774     1
1945.883142     1
1916.620690     1
1954.526820     1
1902.000000     1
1921.577778     1
1961.909962     1
1934.178161     1
1918.750000     1
1928.865900     1
1929.856322     1
1940.300766     1
1950.835249     1
1922.022989     1
1941.291188     1
1938.319923     1
1956.957854     1
1937.329502     1
1937.959770     1
1926.885057     1
1945.613027     1
1915.540230     1
1951.825670     1
1958.308429     1
1956.250000     1
1961.279693     1
1984.750000     1
1920.942529     1
1953.896552     1
1916.530651     1
1930.396552     1
1931.386973     1
1957.318008     1
1917.521073     1
1949.844828     1
1954.500000     1
1936.879310     1
1929.406130     1
1952.816092     1
1925.264368     1
1924.003831     1
1928.415709     1
1950.204981     1
1918.331418     1
1932.467433     1
1929.586207     1
1987.500000     1
1948.044061     1
1922.923372     1
1939.220307     1
1925.354406     1
1941.200000     1
1970.800000     1
1954.886973     1
1944.262452     1
1919.231801     1
1943.181992     1
1935.978927     1
1958.128352     1
1990.500000     1
1922.644444     1
1927.666667     1
1929.316092     1
1991.375000     1
1905.000000     1
1919.444444     1
1948.134100     1
1933.998084     1
1933.277778     1
1937.509579     1
1939.310345     1
1923.823755     1
1946.963602     1
1916.080460     1
1918.601533     1
1950.925287     1
1920.582375     1
1935.528736     1
1937.239464     1
1952.185824     1
1931.296935     1
1973.666667     1
1920.866667     1
1919.977778     1
1960.109195     1
1942.281609     1
1926.254789     1
1948.224138     1
1961.189655     1
1926.975096     1
1991.666667     1
1947.863985     1
1931.837165     1
1920.333333     1
1926.704981     1
1921.662835     1
1954.616858     1
1989.500000     1
1934.628352     1
1950.655172     1
1920.312261     1
1938.590038     1
1956.867816     1
1921.755556     1
1928.955939     1
1929.766284     1
1930.936782     1
1924.273946     1
1922.293103     1
1942.551724     1
1925.984674     1
1956.147510     1
1963.333333     1
1946.243295     1
1921.842912     1
1944.982759     1
1959.929119     1
1983.250000     1
1944.532567     1
1933.637931     1
1941.921456     1
1943.902299     1
1930.400000     1
1960.829502     1
1921.488889     1
1959.208812     1
1924.994253     1
1927.605364     1
1956.777778     1
1921.600000     1
1926.000000     1
1921.392720     1
1932.500000     1
1931.116858     1
1950.666667     1
1921.482759     1
1993.333333     1
1934.358238     1
1921.311111     1
1941.741379     1
1935.708812     1
1960.019157     1
1962.666667     1
1960.559387     1
1939.670498     1
1979.333333     1
1952.666667     1
1950.565134     1
1921.032567     1
1965.800000     1
1922.743295     1
1920.492337     1
1969.200000     1
1930.666667     1
1934.088123     1
1946.783525     1
1950.385057     1
1949.394636     1
1935.438697     1
1930.126437     1
1951.915709     1
1922.822222     1
1956.327586     1
1929.136015     1
1936.068966     1
1948.404215     1
1922.111111     1
1955.337165     1
1948.494253     1
1950.500000     1
1966.125000     1
1939.130268     1
1931.657088     1
1954.346743     1
1961.549808     1
1956.057471     1
1944.750000     1
1960.469349     1
1921.752874     1
1946.603448     1
1926.614943     1
2010.500000     1
1919.772031     1
1924.183908     1
1952.545977     1
1922.733333     1
1927.425287     1
1920.955556     1
1954.166667     1
1948.584291     1
1918.691571     1
1957.227969     1
1937.000000     1
1954.076628     1
1928.145594     1
1916.800766     1
1916.710728     1
1927.695402     1
1953.446360     1
1946.423372     1
1937.149425     1
1945.072797     1
1958.038314     1
1995.600000     1
1945.973180     1
1916.260536     1
1921.666667     1
1943.091954     1
1929.676245     1
1928.235632     1
1949.124521     1
1956.597701     1
1958.488506     1
1944.622605     1
1920.066667     1
1919.800000     1
1926.400000     1
1929.226054     1
1958.758621     1
1917.701149     1
1955.067050     1
1923.283525     1
1931.567050     1
1930.756705     1
1974.500000     1
1943.722222     1
1940.875000     1
1932.917625     1
1942.731801     1
1939.490421     1
1948.854406     1
1940.480843     1
1940.750958     1
1923.013410     1
1943.500000     1
1942.461686     1
1944.712644     1
1917.070881     1
1935.348659     1
1936.339080     1
1961.600000     1
1917.791188     1
1932.827586     1
1947.666667     1
1920.042146     1
1924.904215     1
1980.333333     1
1915.625000     1
1964.500000     1
1960.500000     1
1915.090038     1
1933.367816     1
1919.533333     1
1943.362069     1
1914.800000     1
1925.084291     1
1919.088889     1
1941.471264     1
1946.693487     1
1941.651341     1
1939.040230     1
1943.452107     1
2014.500000     1
1935.168582     1
1938.049808     1
1947.683908     1
1927.335249     1
1934.808429     1
1948.674330     1
1948.600000     1
1931.927203     1
1963.400000     1
1951.105364     1
1930.216475     1
1998.250000     1
1952.365900     1
1953.356322     1
1935.078544     1
1951.375479     1
1941.021073     1
1933.818008     1
1999.800000     1
1972.200000     1
1939.760536     1
1945.703065     1
1943.001916     1
1950.475096     1
1952.636015     1
1957.948276     1
1938.770115     1
1945.432950     1
1936.789272     1
1942.011494     1
1935.200000     1
1951.645594     1
1949.664751     1
1937.779693     1
1944.442529     1
1947.413793     1
1940.030651     1
1977.333333     1
Name: year_built, dtype: int64

In [88]:
building['year_built'].isnull().sum()

0

In [89]:
building['floor_count'].isnull().sum()

1094

###### There are many too missing values here and the number of floors in a building does not have any effect on energy consumption so column would be removed

In [90]:
building=building.drop(columns='floor_count')

In [91]:
building.head(1)

   site_id  building_id primary_use  square_feet  year_built
0        0            0   Education         7432      2008.0

In [92]:
#check for missing values in the weather data
weather.isnull().sum()

site_id                   0
timestamp                 0
air_temperature          55
cloud_coverage        69173
dew_temperature         113
precip_depth_1_hr     50289
sea_level_pressure    10618
wind_direction         6268
wind_speed              304
dtype: int64

In [93]:
weather.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,139773.000000,139718.000000,70600.000000,139660.000000,89484.000000,129155.000000,133505.000000,139469.000000
mean,7.478977,14.418106,2.149306,7.350158,0.983047,1016.158038,180.526632,3.560527
std,4.604744,10.626595,2.599150,9.790235,8.463678,7.629684,111.523629,2.335874
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,968.200000,0.000000,0.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.800000,80.000000,2.100000
50%,7.000000,15.000000,2.000000,8.300000,0.000000,1016.400000,190.000000,3.100000
75%,11.000000,22.200000,4.000000,14.400000,0.000000,1020.800000,280.000000,5.000000
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000

In [94]:
weather['air_temperature'].value_counts()

 15.0    2722
 24.4    2200
 20.0    2191
 10.0    2187
 25.0    2185
 19.4    2121
 23.9    2115
 25.6    2096
 17.2    2095
 23.3    2074
 18.3    2067
 15.6    2066
 20.6    2043
 18.9    2014
 14.4    2010
 17.8    2001
 22.8    1989
 13.9    1987
 21.7    1971
 21.1    1947
 16.7    1936
 26.1    1915
 13.3    1893
 22.2    1881
 16.1    1862
 26.7    1798
 12.8    1680
 12.2    1679
 11.7    1622
 27.2    1616
 11.1    1512
 27.8    1463
 10.6    1455
 9.4     1396
 5.0     1393
 28.3    1372
 28.9    1271
 8.3     1267
 8.9     1247
 7.8     1213
 6.7     1192
 7.2     1176
 6.1     1147
 29.4    1121
 30.0    1104
 5.6     1095
 4.4     1000
 2.8      985
 30.6     951
 3.9      933
 31.1     917
 3.3      911
 0.6      892
 2.2      857
 1.1      852
 31.7     827
 1.7      823
 8.0      815
 0.0      812
 6.0      764
 7.0      736
-0.6      730
 16.0     728
 32.2     710
 9.0      697
 14.0     682
-1.1      675
 32.8     674
 11.0     673
 13.0     647
 12.0     623
 17.0     613
 33.3     595
-1.7      574
-2.2      562
-3.3      498
-2.8      493
 18.0     493
 33.9     459
 4.0      441
 34.4     426
-3.9      417
-4.4      399
 3.0      372
-5.0      364
-6.1      362
 35.0     345
-5.6      340
 19.0     330
-6.7      292
-7.2      287
 2.0      282
 35.6     261
 1.0      229
 36.1     218
-7.8      215
-8.9      203
-8.3      189
 9.8      184
 11.8     177
 9.7      173
 10.9     168
 36.7     166
 10.1     163
 13.4     163
 8.7      162
 37.2     160
 10.3     159
 8.2      159
 9.6      159
 11.9     159
 7.3      158
 15.8     155
 14.2     153
-9.4      153
 11.3     153
 7.1      152
 5.7      152
 12.4     152
 6.2      152
 15.1     151
 3.5      150
 12.7     150
 12.5     150
 5.5      150
 9.5      150
 11.4     150
 8.5      149
 13.1     149
 5.2      149
 11.5     149
 4.6      147
 7.9      146
 5.8      146
 7.7      145
 6.5      145
 6.6      145
 6.9      145
 4.7      143
 12.9     143
 11.6     142
 13.8     142
 7.6      141
 12.3     141
 12.1     141
 13.7     141
 13.6     140
 7.5      140
 15.4     140
 16.5     139
 8.8      139
 14.7     138
 9.9      137
 13.2     137
 15.3     137
 7.4      136
 5.3      136
 12.6     136
 9.3      135
 10.7     135
 5.9      135
 21.0     133
 6.3      133
 4.9      133
 8.4      131
-10.0     130
 14.3     130
 4.8      130
 17.6     129
 17.4     128
 5.1      128
 10.2     127
 4.1      127
 5.4      127
 6.4      126
 14.6     126
 8.6      126
 14.9     126
 16.2     125
 9.1      125
 15.2     125
 18.6     125
 15.5     124
 16.3     124
 9.2      124
 14.8     124
 14.1     124
 16.8     123
 10.8     122
 10.5     121
 4.5      121
 3.6      121
 16.6     120
 13.5     119
 16.9     117
 6.8      116
 3.7      116
 4.3      115
 15.9     114
 10.4     114
 17.1     114
 16.4     111
 11.2     111
 2.6      110
 3.4      110
 37.8     110
 4.2      109
 3.8      109
 17.5     109
 18.4     108
 2.5      108
 1.3      107
 14.5     107
 17.7     107
 2.3      106
 8.1      106
 17.3     105
 1.5      105
 1.8      104
 2.7      104
 17.9     104
 38.3     103
 0.8      103
 19.6     103
 3.2      102
 3.1      102
 18.1     102
-11.1     101
 22.0     101
-10.6     100
 1.6       99
 19.5      98
 0.4       97
 18.5      97
 2.9       96
 0.7       96
 1.9       96
 19.8      95
-1.0       95
-11.7      94
 15.7      94
 1.2       94
 18.7      94
 21.5      92
 0.5       92
 18.8      92
 2.1       92
-0.7       92
 0.2       91
 39.4      89
 21.9      89
 1.4       87
 19.2      87
 23.0      86
 20.1      86
 21.2      85
 2.4       84
 21.6      84
-2.0       83
 21.3      82
 38.9      82
-12.2      81
 0.9       81
 19.1      80
 18.2      79
 19.9      78
 0.3       78
-0.2       76
-0.9       76
-1.3       75
 19.3      75
 20.2      75
 20.4      74
 21.8      74
 20.5      73
-1.2       71
 19.7      71
 20.7      69
 20.8      69
 20.3      69
 23.2      67
-0.4       67
-0.1       66
-14.4      66
 22.7      65
-0.5       65
 21.4      64
 23.7      64
 40.6      63
-0.3       62
 40.0      62
-0.8       62
 24.0      62
-15.0      61
-1.5       60
 42.2      59
-12.8      58
-13.9      58
 0.1       57
 22.4      57
 24.1      56
 24.6      56
-1.4       56
 41.1      56
 23.6      55
 23.5      55
-3.0       55
-6.9       54
-7.0       54
 20.9      54
 22.5      53
-1.6       52
 22.1      52
 41.7      52
 22.3      52
 22.6      52
-2.6       51
 24.3      50
-13.3      50
 24.9      50
 23.4      49
 25.3      49
 24.8      48
 26.2      47
 22.9      47
-2.1       47
 27.1      47
-2.5       46
-7.3       46
 27.0      45
-1.9       45
 25.4      45
-3.2       45
-6.3       44
-4.0       44
-2.7       43
 23.1      43
-3.5       43
-7.4       42
-6.8       42
 23.8      41
 25.1      41
-2.9       41
-2.4       41
-6.0       41
 24.5      40
-3.1       40
-8.2       40
 26.0      40
-3.4       39
 25.7      39
-3.8       38
-5.3       38
 25.8      38
-1.8       38
-10.5      38
-8.1       38
-8.0       37
-3.6       36
-5.9       36
-4.1       36
 28.0      36
-17.8      35
 42.8      35
-17.2      35
-6.2       34
 26.4      34
-18.9      34
-4.5       34
-5.7       34
-16.1      34
 25.9      34
-15.6      34
-6.5       34
-6.6       34
-5.4       34
 43.3      33
-6.4       32
 25.5      32
-7.7       32
-2.3       32
-3.7       31
 27.4      31
-16.7      31
-4.3       31
 27.9      30
 25.2      30
-20.6      30
 26.5      30
-19.4      30
-21.1      29
 26.6      29
-9.9       28
-11.3      28
 28.4      28
-8.4       28
-7.5       28
-5.8       28
-4.7       27
-20.0      27
-9.0       27
 24.7      27
 26.3      27
-7.1       26
 27.6      26
-8.6       26
-7.9       26
-5.1       26
 26.9      26
-9.2       26
-18.3      25
-9.3       24
-8.8       24
-4.6       24
-8.7       24
-5.5       24
 28.1      24
-11.4      24
 28.8      23
-11.0      22
 28.5      22
-9.5       22
-9.1       22
-10.3      22
-10.9      22
-5.2       22
-14.2      22
-9.6       22
 24.2      22
-11.8      22
 27.7      21
-13.0      21
-7.6       20
-11.2      20
-10.4      20
 27.5      19
 26.8      19
 27.3      19
 43.9      19
-10.8      18
-17.6      18
-4.2       18
-11.6      18
-14.9      18
-4.9       18
-10.2      18
 29.1      17
-13.7      16
-12.0      16
-12.5      16
-12.4      16
-16.9      16
 29.8      16
-13.4      16
-10.7      16
-15.4      16
-13.1      16
-21.7      16
-22.8      16
-9.8       16
-14.7      16
-8.5       16
 28.2      16
 28.6      15
-4.8       15
-14.0      15
-22.2      15
-9.7       14
-15.8      14
-18.1      14
 29.7      14
 28.7      14
-12.9      14
-16.6      14
 29.0      13
 30.1      13
 29.2      13
-13.6      12
-11.5      12
-13.2      12
 29.3      12
-16.4      12
-11.9      12
 30.7      12
-21.8      10
-17.9      10
-14.5      10
-17.4      10
 32.9      10
 31.4      10
-17.7      10
 30.2      10
-10.1      10
 31.0      10
 31.3      10
 29.6      10
 44.4       9
 30.8       9
-23.3       9
-16.2       8
-18.0       8
-17.1       8
-15.5       8
-15.9       8
-15.2       8
-23.9       8
-17.0       8
-12.6       8
-13.5       8
 30.3       8
 31.9       8
-13.8       8
-12.7       8
-24.4       8
-14.8       8
 29.9       7
-27.8       7
-25.0       7
 31.8       7
 30.4       7
-19.2       6
 30.9       6
-14.6       6
-18.4       6
-19.3       6
-19.7       6
-19.6       6
 31.5       6
-24.1       6
-12.3       6
 30.5       6
 32.1       6
-25.6       6
-16.3       6
-23.0       6
-16.0       6
-19.8       6
-18.2       6
-15.3       6
 45.0       5
 32.7       5
-14.1       4
-12.1       4
-15.1       4
-15.7       4
-20.1       4
-22.1       4
-24.6       4
-19.5       4
 32.5       4
-17.3       4
-25.2       4
-23.8       4
-21.4       4
-25.7       4
-16.5       4
-18.8       4
-21.6       4
-21.0       4
 45.6       4
-16.8       4
-27.2       4
-14.3       4
-20.2       4
-28.2       4
 33.2       4
-23.6       4
-25.1       4
-19.9       4
 47.2       4
-20.5       4
 34.0       3
-26.7       3
 31.2       3
-19.0       2
-22.9       2
-20.4       2
-18.7       2
-28.8       2
-25.3       2
-27.1       2
-22.7       2
-26.1       2
-18.5       2
-21.5       2
 32.4       2
 33.6       2
-25.4       2
-17.5       2
-21.2       2
-20.9       2
 29.5       2
-23.4       2
-22.4       2
-20.3       2
-20.8       2
 46.1       2
 33.7       2
-27.0       2
-27.5       2
-28.0       2
-27.4       2
-24.7       2
-28.6       2
-28.4       2
-22.6       2
-28.7       2
-25.8       2
-21.3       2
 33.0       2
-20.7       2
-26.8       2
-26.4       2
 46.7       2
-26.5       2
 31.6       2
-28.9       1
 32.6       1
-28.3       1
Name: air_temperature, dtype: int64

In [95]:
#drop the rows with missing data in the air temperature column
weather=weather.dropna(subset=['air_temperature'])

In [96]:
#check to see if missing values have been dropped
weather['air_temperature'].isnull().sum()

0

In [97]:
#drop the rows with missing data in the dew temperature column
weather=weather.dropna(subset=['dew_temperature'])

In [98]:
#check to see if missing values have been dropped
weather['dew_temperature'].isnull().sum()

0

In [99]:
weather['wind_speed'].value_counts()

2.1     14371
2.6     14043
0.0     13538
1.5     13087
3.1     12961
3.6     11878
4.1      9977
4.6      8261
5.1      6632
5.7      5412
6.2      4456
6.7      3522
7.2      2774
1.0      2056
7.7      1979
8.2      1497
4.0      1413
5.0      1358
6.0      1152
3.0      1133
0.5      1059
8.8      1019
7.0       861
9.3       730
2.0       669
8.0       604
9.8       495
9.0       449
10.3      320
10.0      305
10.8      271
11.0      207
11.3      190
11.8      122
12.0      119
12.4       81
13.0       70
12.9       57
8.7        57
14.0       36
13.4       36
13.9       26
14.4       23
15.0       18
16.0       13
15.4       13
14.9       12
17.0        5
16.5        4
19.0        3
1.3         3
2.2         3
18.0        3
18.5        2
3.2         2
1.6         2
6.1         2
12.8        2
Name: wind_speed, dtype: int64

In [100]:
#drop the rows with missing data in the wind speed column
weather=weather.dropna(subset=['wind_speed'])

In [101]:
#check to see if missing values have been dropped
weather['wind_speed'].isnull().sum()

0

##### Regarding the cloud_coverage,precip_depth_1_hr,sea_level_pressure and wind direction,  the missing values would have to be interpolated

In [102]:
weather.isnull().sum()

site_id                   0
timestamp                 0
air_temperature           0
cloud_coverage        68947
dew_temperature           0
precip_depth_1_hr     50229
sea_level_pressure    10549
wind_direction         5965
wind_speed                0
dtype: int64

In [103]:
weather=weather.interpolate()

In [104]:
#one more missing value due to interpolation not counting first values,and that particular missing data was the first
weather.isnull().sum()

site_id               0
timestamp             0
air_temperature       0
cloud_coverage        0
dew_temperature       0
precip_depth_1_hr     1
sea_level_pressure    0
wind_direction        0
wind_speed            0
dtype: int64

In [105]:
weather['precip_depth_1_hr']=weather['precip_depth_1_hr'].fillna(weather['precip_depth_1_hr'].mode())

In [106]:
weather.isnull().sum()

site_id               0
timestamp             0
air_temperature       0
cloud_coverage        0
dew_temperature       0
precip_depth_1_hr     0
sea_level_pressure    0
wind_direction        0
wind_speed            0
dtype: int64

In [107]:
data['meter'].value_counts()

0    12060910
1     4182440
2     2708713
3     1264037
Name: meter, dtype: int64

In [108]:
data.isnull().sum()

building_id      0
meter            0
timestamp        0
meter_reading    0
dtype: int64

##### Now all the missing values in all the datasets have been dealt with, maybe there are better ways of dealing with this, but we are going to go with this

In [109]:
data.to_csv('data_new')
weather.to_csv('weather_new')
building.to_csv('building_new')